In [0]:
from pyspark.sql import SparkSession

In [0]:
sc=SparkSession.builder.appName('spark_df').getOrCreate()

In [0]:
!wget https://raw.githubusercontent.com/aspdiscovery123/Python-Bigdata-Analytics/master/data/Bank_churn_modelling.csv

--2022-07-27 13:33:13--  https://raw.githubusercontent.com/aspdiscovery123/Python-Bigdata-Analytics/master/data/Bank_churn_modelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684823 (669K) [text/plain]
Saving to: ‘Bank_churn_modelling.csv’

Bank_churn_modellin 100%[===================>] 668.77K  --.-KB/s    in 0.04s

2022-07-27 13:33:13 (14.9 MB/s) - ‘Bank_churn_modelling.csv’ saved [684823/684823]

In [0]:
mkdir new

In [0]:
cd new

/root/new

In [0]:
!wget https://raw.githubusercontent.com/aspdiscovery123/Python-Bigdata-Analytics/master/data/Bank_churn_modelling.csv

--2022-07-27 13:37:36--  https://raw.githubusercontent.com/aspdiscovery123/Python-Bigdata-Analytics/master/data/Bank_churn_modelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684823 (669K) [text/plain]
Saving to: ‘Bank_churn_modelling.csv’

Bank_churn_modellin 100%[===================>] 668.77K  --.-KB/s    in 0.05s

2022-07-27 13:37:36 (13.1 MB/s) - ‘Bank_churn_modelling.csv’ saved [684823/684823]

In [0]:
ls

Bank_churn_modelling.csv

In [0]:
pwd

Out[46]: '/root/new'

In [0]:
path='/FileStore/tables/Bank_churn_modelling.csv'

In [0]:
df=spark.read.csv(path,header=True,inferSchema=True)

In [0]:
df.columns

Out[55]: ['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [0]:
df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|        0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|        0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [0]:
df.count()

Out[57]: 10000

In [0]:
df.dtypes

Out[58]: [('RowNumber', 'int'),
 ('CustomerId', 'int'),
 ('Surname', 'string'),
 ('CreditScore', 'int'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Tenure', 'int'),
 ('Balance', 'string'),
 ('NumOfProducts', 'string'),
 ('HasCrCard', 'string'),
 ('IsActiveMember', 'int'),
 ('EstimatedSalary', 'string'),
 ('Exited', 'int')]

In [0]:
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: string (nullable = true)
 |-- NumOfProducts: string (nullable = true)
 |-- HasCrCard: string (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: string (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
df.head(5)

Out[60]: [Row(RowNumber=1, CustomerId=15634602, Surname='Hargrave', CreditScore=619, Geography='France', Gender='Female', Age='42', Tenure=2, Balance='0', NumOfProducts='1', HasCrCard='1', IsActiveMember=1, EstimatedSalary='101348.88', Exited=1),
 Row(RowNumber=2, CustomerId=15647311, Surname='Hill', CreditScore=608, Geography='Spain', Gender='Female', Age='41', Tenure=1, Balance='83807.86', NumOfProducts='1', HasCrCard='0', IsActiveMember=1, EstimatedSalary='112542.58', Exited=0),
 Row(RowNumber=3, CustomerId=15619304, Surname='Onio', CreditScore=502, Geography='France', Gender='Female', Age='42', Tenure=8, Balance='159660.8', NumOfProducts='3', HasCrCard='1', IsActiveMember=0, EstimatedSalary='113931.57', Exited=1),
 Row(RowNumber=4, CustomerId=15701354, Surname='Boni', CreditScore=699, Geography='France', Gender='Female', Age='39', Tenure=1, Balance='0', NumOfProducts='2', HasCrCard='0', IsActiveMember=0, EstimatedSalary='93826.63', Exited=0),
 Row(RowNumber=5, CustomerId=15737888, Surname='Mitchell', CreditScore=850, Geography='Spain', Gender='Female', Age='43', Tenure=2, Balance='125510.82', NumOfProducts='1', HasCrCard='1', IsActiveMember=1, EstimatedSalary='79084.1', Exited=0)]

In [0]:
df.select('Age','CreditScore').show(10)

+---+-----------+
|Age|CreditScore|
+---+-----------+
| 42|        619|
| 41|        608|
| 42|        502|
| 39|        699|
| 43|        850|
| 44|        645|
| 50|        822|
| 29|        376|
| 44|        501|
| 27|        684|
+---+-----------+
only showing top 10 rows

In [0]:
#Add column
df.withColumn('n_age',df['age']+10).show(20)

+---------+----------+---------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+-----+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|n_age|
+---------+----------+---------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+-----+
|        1|  15634602| Hargrave|        619|   France|Female|  42|     2|        0|            1|        1|             1|      101348.88|     1| 52.0|
|        2|  15647311|     Hill|        608|    Spain|Female|  41|     1| 83807.86|            1|        0|             1|      112542.58|     0| 51.0|
|        3|  15619304|     Onio|        502|   France|Female|  42|     8| 159660.8|            3|        1|             0|      113931.57|     1| 52.0|
|        4|  15701354|     Boni|        699|   France|Female|  39|     1|        0|            2|        0|             0|       93826.63|     0| 49.0|
|        5|  15737888| Mitchell|        850|    Spain|Female|  43|     2|125510.82|            1|        1|             1|        79084.1|     0| 53.0|
|        6|  15574012|      Chu|        645|    Spain|   ABC|  44|     8|      ABC|            2|        1|             0|      149756.71|     1| 54.0|
|        7|  15592531| Bartlett|        822|   France|  Male|  50|     7|        0|            2|        1|             1|           null|     0| 60.0|
|        8|  15656148|   Obinna|        376|  Germany|Female|  29|     4|115046.74|            4|        1|             0|      119346.88|     1| 39.0|
|        9|  15792365|       He|        501|   France|  Male|  44|     4|142051.07|            2|        0|             1|        74940.5|     0| 54.0|
|       10|  15592389|       H?|        684|   France|  null|  27|     2|134603.88|            1|        1|             1|       71725.73|     0| 37.0|
|       11|  15767821|     null|        528|   France|  Male|  31|     6|     null|          2 h|        0|             0|       80181.12|     0| 41.0|
|       12|  15737173|  Andrews|        497|    Spain|  Male|  24|     3|        0|            2|     null|             0|       76390.01|     0| 34.0|
|       13|  15632264|      Kay|        476|   France|Female|  34|    10|        0|            2|        1|             0|       26260.98|     0| 44.0|
|       14|  15691483|     Chin|        549|   France|Female|  25|     5|        0|            2|        0|             0|      190857.79|     0| 35.0|
|       15|  15600882|    Scott|        635|    Spain|Female|35 h|     7|        0|            2|        1|             1|       65951.65|     0| null|
|       16|  15643966|  Goforth|        616|  Germany|  Male|  45|     3|143129.41|         null|        0|             1|       64327.26|     0| 55.0|
|       17|  15737452|    Romeo|        653|  Germany|  Male|  58|     1|132602.88|            1|        1|             0|        5097.67|     1| 68.0|
|       18|  15788218|Henderson|        549|     null|Female|  24|     9|        0|            2|        1|             1|       14406.41|     0| 34.0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male|  45|     6|        0|            1|        0|             0|      158684.81|     0| 55.0|
|       20|  15568982|      Hao|        726|   France|Female| abc|     6|        0|            2|    1 abc|             1|       54724.03|     0| null|
+---------+----------+---------+-----------+---------+------+----+------+---------+-------------+---------+--------------+---------------+------+-----+
only showing top 20 rows

In [0]:
#filter row 
df.filter(df['Gender']=='Male').show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|        0|            2|        1|             1|           null|     0|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       11|  15767821|    null|        528|   France|  Male| 31|     6|     null|          2 h|        0|             0|       80181.12|     0|
|       12|  15737173| Andrews|        497|    Spain|  Male| 24|     3|        0|            2|     null|             0|       76390.01|     0|
|       16|  15643966| Goforth|        616|  Germany|  Male| 45|     3|143129.41|         null|        0|             1|       64327.26|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [0]:
df.filter((df['Gender']=='Male')& (df['age']>50)).count()

Out[67]: 657

In [0]:
df.where(df['Exited']==1).count()

Out[69]: 2037

In [0]:
sh=df.schema

In [0]:
#union or Appending 

df2=[(1001,20592531,"Bartlett",822,"France","Male",50,7,0,2,1,1,7845.25,0),(1001,20592531,"Bartlett",822,"France","Male",50,7,0,2,1,1,7845.25,0),(1001,205925566,"Bartlett",852,"Germany","Male",50,7,0,2,1,1,7845.25,0)]
rdd=sc.sparkContext.parallelize(df2)

In [0]:
newdf=sc.createDataFrame(rdd,schema=sh)

In [0]:
newdf.show()

+---------+----------+--------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|     1001|  20592531|Bartlett|        822|   France|  Male| 50|     7|      0|            2|        1|             1|        7845.25|     0|
|     1001|  20592531|Bartlett|        822|   France|  Male| 50|     7|      0|            2|        1|             1|        7845.25|     0|
|     1001| 205925566|Bartlett|        852|  Germany|  Male| 50|     7|      0|            2|        1|             1|        7845.25|     0|
+---------+----------+--------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [0]:
df.count()

Out[75]: 10000

In [0]:
newdf.count()

Out[76]: 3

In [0]:
data=df.union(newdf)

In [0]:
data.show(2)

+---------+----------+--------+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|       0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1|83807.86|            1|        0|             1|      112542.58|     0|
+---------+----------+--------+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 2 rows

In [0]:
data.count()

Out[80]: 10003

In [0]:
df.describe('Age').show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             10000|
|   mean|38.923684736947386|
| stddev|10.487720192104547|
|    min|                18|
|    max|               abc|
+-------+------------------+

In [0]:
def power(a):
  return a**2
power(10)

Out[87]: 100

In [0]:
from pyspark.sql.functions import udf

In [0]:
power_udf=udf(power)

In [0]:
df.select(power_udf(df['Tenure'])).show()

+-------------+
|power(Tenure)|
+-------------+
|            4|
|            1|
|           64|
|            1|
|            4|
|           64|
|           49|
|           16|
|           16|
|            4|
|           36|
|            9|
|          100|
|           25|
|           49|
|            9|
|            1|
|           81|
|           36|
|           36|
+-------------+
only showing top 20 rows

In [0]:
df.dtypes

Out[91]: [('RowNumber', 'int'),
 ('CustomerId', 'int'),
 ('Surname', 'string'),
 ('CreditScore', 'int'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Tenure', 'int'),
 ('Balance', 'string'),
 ('NumOfProducts', 'string'),
 ('HasCrCard', 'string'),
 ('IsActiveMember', 'int'),
 ('EstimatedSalary', 'string'),
 ('Exited', 'int')]

In [0]:
from pyspark.sql.functions import max, mean, min, corr,stddev,kurtosis,skewness

In [0]:
df.select(max('CreditScore'),min('CreditScore'),mean('CreditScore'),skewness('CreditScore'),kurtosis('CreditScore'),corr('Age','CreditScore')).show()

+----------------+----------------+----------------+---------------------+---------------------+----------------------+
|max(CreditScore)|min(CreditScore)|avg(CreditScore)|skewness(CreditScore)|kurtosis(CreditScore)|corr(Age, CreditScore)|
+----------------+----------------+----------------+---------------------+---------------------+----------------------+
|             850|             350|        650.5288| -0.07159586676212142|   -0.426112791765187|  -0.00386033558336...|
+----------------+----------------+----------------+---------------------+---------------------+----------------------+

In [0]:
df1=sc.read.csv('/FileStore/tables/CountryCode.csv',header=True,inferSchema=True)
df2=sc.read.csv('/FileStore/tables/zomato.csv',header=True,inferSchema=True)

In [0]:
df1.show(5)

+---+---------+
| cc|  Country|
+---+---------+
|  1|    India|
| 14|Australia|
| 30|   Brazil|
| 37|   Canada|
| 94|Indonesia|
+---+---------+
only showing top 5 rows

In [0]:
df2.show(5)

+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name| cc|            City|             Address|            Locality|    Locality Verbose| Longitude| Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|    Le Petit Souffle|162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|    Izakaya Kikufuji|162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
|      6300002|Heat - Edsa Shang...|162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...|121.056831|14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|
|      6318506|                Ooma|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.056475|14.585318|     Japanese, Sushi|                1500|Botswana Pula(P)|               No|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  365|
|      6314302|         Sambo Kojin|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.057508| 14.58445|    Japanese, Korean|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.8|  Dark Green|  Excellent|  229|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 5 rows

In [0]:
df1.dtypes

Out[107]: [('cc', 'int'), ('Country', 'string')]

In [0]:
df2.dtypes

Out[108]: [('Restaurant ID', 'string'),
 ('Restaurant Name', 'string'),
 ('cc', 'string'),
 ('City', 'string'),
 ('Address', 'string'),
 ('Locality', 'string'),
 ('Locality Verbose', 'string'),
 ('Longitude', 'string'),
 ('Latitude', 'string'),
 ('Cuisines', 'string'),
 ('Average Cost for two', 'string'),
 ('Currency', 'string'),
 ('Has Table booking', 'string'),
 ('Has Online delivery', 'string'),
 ('Is delivering now', 'string'),
 ('Switch to order menu', 'string'),
 ('Price range', 'string'),
 ('Aggregate rating', 'string'),
 ('Rating color', 'string'),
 ('Rating text', 'string'),
 ('Votes', 'int')]

In [0]:
expression= df1['cc']==df2['cc']
join_type="inner"

In [0]:
data=df2.join(df1,expression,join_type)

In [0]:
data.head(2)

Out[114]: [Row(Restaurant ID='6317637', Restaurant Name='Le Petit Souffle', cc='162', City='Makati City', Address='Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City', Locality='Century City Mall, Poblacion, Makati City', Locality Verbose='Century City Mall, Poblacion, Makati City, Makati City', Longitude='121.027535', Latitude='14.565443', Cuisines='French, Japanese, Desserts', Average Cost for two='1100', Currency='Botswana Pula(P)', Has Table booking='Yes', Has Online delivery='No', Is delivering now='No', Switch to order menu='No', Price range='3', Aggregate rating='4.8', Rating color='Dark Green', Rating text='Excellent', Votes=314, cc=162, Country='Phillipines'),
 Row(Restaurant ID='6304287', Restaurant Name='Izakaya Kikufuji', cc='162', City='Makati City', Address='Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City', Locality='Little Tokyo, Legaspi Village, Makati City', Locality Verbose='Little Tokyo, Legaspi Village, Makati City, Makati City', Longitude='121.014101', Latitude='14.553708', Cuisines='Japanese', Average Cost for two='1200', Currency='Botswana Pula(P)', Has Table booking='Yes', Has Online delivery='No', Is delivering now='No', Switch to order menu='No', Price range='3', Aggregate rating='4.5', Rating color='Dark Green', Rating text='Excellent', Votes=591, cc=162, Country='Phillipines')]

In [0]:
df1.show()

+---+--------------+
| cc|       Country|
+---+--------------+
|  1|         India|
| 14|     Australia|
| 30|        Brazil|
| 37|        Canada|
| 94|     Indonesia|
|148|   New Zealand|
|162|   Phillipines|
|166|         Qatar|
|184|     Singapore|
|189|  South Africa|
|191|     Sri Lanka|
|208|        Turkey|
|214|           UAE|
|215|United Kingdom|
|216| United States|
+---+--------------+

In [0]:
data.columns

Out[117]: ['Restaurant ID',
 'Restaurant Name',
 'cc',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes',
 'cc',
 'Country']

In [0]:
stock=sc.read.csv("/FileStore/tables/appl_stock.csv",header=True,inferSchema=True)

In [0]:
stock.show(10)

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 10 rows

In [0]:
stock.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [0]:
from pyspark.sql.functions import format_number

In [0]:
data=stock.select(stock['Date'],
             format_number(stock['High'].cast('float'),2).alias("HIGH"),
             format_number(stock['Open'].cast('float'),2).alias("OPEN"),
             format_number(stock['Low'].cast('float'),2).alias("LOW"),
             format_number(stock['Close'].cast('float'),2).alias("CLOSE"),
             format_number(stock['Volume'].cast('float'),2).alias("VOLUME"),
             format_number(stock['Adj Close'].cast('float'),2).alias("Adj Close")
                         )

In [0]:
data.show(10)

+-------------------+------+------+------+------+--------------+---------+
|               Date|  HIGH|  OPEN|   LOW| CLOSE|        VOLUME|Adj Close|
+-------------------+------+------+------+------+--------------+---------+
|2010-01-04 00:00:00|214.50|213.43|212.38|214.01|123,432,400.00|    27.73|
|2010-01-05 00:00:00|215.59|214.60|213.25|214.38|150,476,192.00|    27.77|
|2010-01-06 00:00:00|215.23|214.38|210.75|210.97|138,040,000.00|    27.33|
|2010-01-07 00:00:00|212.00|211.75|209.05|210.58|119,282,800.00|    27.28|
|2010-01-08 00:00:00|212.00|210.30|209.06|211.98|111,902,704.00|    27.46|
|2010-01-11 00:00:00|213.00|212.80|208.45|210.11|115,557,400.00|    27.22|
|2010-01-12 00:00:00|209.77|209.19|206.42|207.72|148,614,896.00|    26.91|
|2010-01-13 00:00:00|210.93|207.87|204.10|210.65|151,472,992.00|    27.29|
|2010-01-14 00:00:00|210.46|210.11|209.02|209.43|108,223,504.00|    27.13|
|2010-01-15 00:00:00|211.60|210.93|205.87|205.93|148,516,896.00|    26.68|
+-------------------+------+------+------+------+--------------+---------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import hours,dayofmonth,dayofweek,dayofyear,year,date_format,weekofyear,month

In [0]:
data.select(dayofmonth(data['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [0]:
data.select(month(data['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [0]:
data.select(year(data['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [0]:
data.select(month(data['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [0]:
data.withColumn('day',dayofmonth(data['Date'])).show()

+-------------------+------+------+------+------+--------------+---------+---+
|               Date|  HIGH|  OPEN|   LOW| CLOSE|        VOLUME|Adj Close|day|
+-------------------+------+------+------+------+--------------+---------+---+
|2010-01-04 00:00:00|214.50|213.43|212.38|214.01|123,432,400.00|    27.73|  4|
|2010-01-05 00:00:00|215.59|214.60|213.25|214.38|150,476,192.00|    27.77|  5|
|2010-01-06 00:00:00|215.23|214.38|210.75|210.97|138,040,000.00|    27.33|  6|
|2010-01-07 00:00:00|212.00|211.75|209.05|210.58|119,282,800.00|    27.28|  7|
|2010-01-08 00:00:00|212.00|210.30|209.06|211.98|111,902,704.00|    27.46|  8|
|2010-01-11 00:00:00|213.00|212.80|208.45|210.11|115,557,400.00|    27.22| 11|
|2010-01-12 00:00:00|209.77|209.19|206.42|207.72|148,614,896.00|    26.91| 12|
|2010-01-13 00:00:00|210.93|207.87|204.10|210.65|151,472,992.00|    27.29| 13|
|2010-01-14 00:00:00|210.46|210.11|209.02|209.43|108,223,504.00|    27.13| 14|
|2010-01-15 00:00:00|211.60|210.93|205.87|205.93|148,516,896.00|    26.68| 15|
|2010-01-19 00:00:00|215.19|208.33|207.24|215.04|182,501,904.00|    27.86| 19|
|2010-01-20 00:00:00|215.55|214.91|209.50|211.73|153,038,208.00|    27.43| 20|
|2010-01-21 00:00:00|213.31|212.08|207.21|208.07|152,038,592.00|    26.96| 21|
|2010-01-22 00:00:00|207.50|206.78|197.16|197.75|220,441,904.00|    25.62| 22|
|2010-01-25 00:00:00|204.70|202.51|200.19|203.07|266,424,896.00|    26.31| 25|
|2010-01-26 00:00:00|213.71|205.95|202.58|205.94|466,777,504.00|    26.68| 26|
|2010-01-27 00:00:00|210.58|206.85|199.53|207.88|430,642,112.00|    26.93| 27|
|2010-01-28 00:00:00|205.50|204.93|198.70|199.29|293,375,616.00|    25.82| 28|
|2010-01-29 00:00:00|202.20|201.08|190.25|192.06|311,488,096.00|    24.88| 29|
|2010-02-01 00:00:00|196.00|192.37|191.30|194.73|187,469,104.00|    25.23|  1|
+-------------------+------+------+------+------+--------------+---------+---+
only showing top 20 rows

In [0]:
data=data.withColumn('year',year(data['Date']))

In [0]:
data.show(10)

+-------------------+------+------+------+------+--------------+---------+----+
|               Date|  HIGH|  OPEN|   LOW| CLOSE|        VOLUME|Adj Close|year|
+-------------------+------+------+------+------+--------------+---------+----+
|2010-01-04 00:00:00|214.50|213.43|212.38|214.01|123,432,400.00|    27.73|2010|
|2010-01-05 00:00:00|215.59|214.60|213.25|214.38|150,476,192.00|    27.77|2010|
|2010-01-06 00:00:00|215.23|214.38|210.75|210.97|138,040,000.00|    27.33|2010|
|2010-01-07 00:00:00|212.00|211.75|209.05|210.58|119,282,800.00|    27.28|2010|
|2010-01-08 00:00:00|212.00|210.30|209.06|211.98|111,902,704.00|    27.46|2010|
|2010-01-11 00:00:00|213.00|212.80|208.45|210.11|115,557,400.00|    27.22|2010|
|2010-01-12 00:00:00|209.77|209.19|206.42|207.72|148,614,896.00|    26.91|2010|
|2010-01-13 00:00:00|210.93|207.87|204.10|210.65|151,472,992.00|    27.29|2010|
|2010-01-14 00:00:00|210.46|210.11|209.02|209.43|108,223,504.00|    27.13|2010|
|2010-01-15 00:00:00|211.60|210.93|205.87|205.93|148,516,896.00|    26.68|2010|
+-------------------+------+------+------+------+--------------+---------+----+
only showing top 10 rows

In [0]:
•	What was the best month for sales? How much was earned that month?
•	What city sold the most product?
•	What time should we display advertisemens to maximize the likelihood of customer’s buying product?
•	What products are most often sold together?
•	What product sold the most? Why do you think it sold the most