## LEVEL-1  DATA FRAME API
1.    Shows the names and height by adding 1 to the height column.
2.    shows the player name and simultaneously checks whether or not they have height >170
3.    Show FIFA Popular Name and 0 or 1 depending on Height>170
4.    name of  shortest player 
5.    who is tallest of all. First we find the value of maximum height and then get the details of that player
6.    average height of the players in Argentina team.

In [0]:
from pyspark.sql import SparkSession

In [0]:
sc=SparkSession.builder.appName('Level1').getOrCreate()

In [0]:
df=sc.read.csv('/FileStore/tables/wc2018_players.csv',header=True,inferSchema=True)

In [0]:
df.printSchema

Out[7]: <bound method DataFrame.printSchema of DataFrame[Team: string, #: int, Pos.: string, FIFA Popular Name: string, Birth Date: string, Shirt Name: string, Club: string, Height: int, Weight: int]>

In [0]:
df.columns

Out[8]: ['Team',
 '#',
 'Pos.',
 'FIFA Popular Name',
 'Birth Date',
 'Shirt Name',
 'Club',
 'Height',
 'Weight']

In [0]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [0]:
#1. Shows the names and height by adding 1 to the height column.
df_a=df.withColumn('Height',df.Height+1)
df_a.select('FIFA Popular Name','Height').show()

+------------------+------+
| FIFA Popular Name|Height|
+------------------+------+
|TAGLIAFICO Nicolas|   170|
|    PAVON Cristian|   170|
|    LANZINI Manuel|   168|
|    SALVIO Eduardo|   168|
|      MESSI Lionel|   171|
|  ANSALDI Cristian|   182|
|      BIGLIA Lucas|   176|
|       BANEGA Ever|   176|
| MASCHERANO Javier|   175|
|      DYBALA Paulo|   178|
|     AGUERO Sergio|   173|
|   HIGUAIN Gonzalo|   185|
|    DI MARIA Angel|   179|
|  LO CELSO Giovani|   178|
|  MEZA Maximiliano|   181|
|      ACUNA Marcos|   173|
|CABALLERO Wilfredo|   187|
|   MERCADO Gabriel|   182|
|  OTAMENDI Nicolas|   182|
|       ROJO Marcos|   190|
+------------------+------+
only showing top 20 rows

In [0]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [0]:
#2. shows the player name and simultaneously checks whether or not they have height >170
from pyspark.sql.functions import when
df_b=df.select('FIFA Popular Name','Height')
#df_b=df_b.withColumn('Height',when(df['Height']>170,'yes').when(df['Height']>170,'no'))
df_b=df_b.withColumn('Height',when(df['Height']>170,'yes').otherwise('no'))
df_b.show()

+------------------+------+
| FIFA Popular Name|Height|
+------------------+------+
|TAGLIAFICO Nicolas|    no|
|    PAVON Cristian|    no|
|    LANZINI Manuel|    no|
|    SALVIO Eduardo|    no|
|      MESSI Lionel|    no|
|  ANSALDI Cristian|   yes|
|      BIGLIA Lucas|   yes|
|       BANEGA Ever|   yes|
| MASCHERANO Javier|   yes|
|      DYBALA Paulo|   yes|
|     AGUERO Sergio|   yes|
|   HIGUAIN Gonzalo|   yes|
|    DI MARIA Angel|   yes|
|  LO CELSO Giovani|   yes|
|  MEZA Maximiliano|   yes|
|      ACUNA Marcos|   yes|
|CABALLERO Wilfredo|   yes|
|   MERCADO Gabriel|   yes|
|  OTAMENDI Nicolas|   yes|
|       ROJO Marcos|   yes|
+------------------+------+
only showing top 20 rows

In [0]:
#3. Show FIFA Popular Name and 0 or 1 depending on Height>170

df_c=df.withColumn('Height',when(df['Height']>170,1).otherwise(0))

In [0]:
df_c.select('FIFA Popular Name','Height').show(5)

+------------------+------+
| FIFA Popular Name|Height|
+------------------+------+
|TAGLIAFICO Nicolas|     0|
|    PAVON Cristian|     0|
|    LANZINI Manuel|     0|
|    SALVIO Eduardo|     0|
|      MESSI Lionel|     0|
+------------------+------+
only showing top 5 rows

In [0]:
#4. name of shortest player
df.orderBy('Height').select('FIFA Popular Name').show(1)

+-----------------+
|FIFA Popular Name|
+-----------------+
|   YAHIA ALSHEHRI|
+-----------------+
only showing top 1 row

In [0]:
df.filter(df['Height']==min('Height')).show()

+----+---+----+-----------------+----------+----------+----+------+------+
|Team|  #|Pos.|FIFA Popular Name|Birth Date|Shirt Name|Club|Height|Weight|
+----+---+----+-----------------+----------+----------+----+------+------+
+----+---+----+-----------------+----------+----------+----+------+------+

In [0]:
df.min('Height')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-1370987056777372> in <module>
----> 1 df.min('Height')

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   1798         """
   1799         if name not in self.columns:
-> 1800             raise AttributeError(
   1801                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
   1802         jc = self._jdf.apply(name)

AttributeError: 'DataFrame' object has no attribute 'min'

In [0]:
df.describe('Height').filter(df['summary']==min).show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-1370987056777373> in <module>
----> 1 df.describe('Height').where(summary=='min').show()

NameError: name 'summary' is not defined

In [0]:
n=df.selectExpr('min(Height)')
n.show()

+-----------+
|min(Height)|
+-----------+
|        165|
+-----------+

In [0]:
df.describe('Height').show()
df['Height'].min()

+-------+-----------------+
|summary|           Height|
+-------+-----------------+
|  count|              736|
|   mean|182.4076086956522|
| stddev|6.930924233929302|
|    min|              165|
|    max|              201|
+-------+-----------------+

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-3358208499115591> in <module>
      1 df.describe('Height').show()
----> 2 df['Height'].min()

TypeError: 'Column' object is not callable

In [0]:
m=df.agg({'Height':'min'}).collect()
type(m)

Out[161]: list

In [0]:
m[0]

Out[162]: Row(min(Height)=165)

In [0]:
print(m[0][0]) # Is there a better way to find the min , and then store it ?

165

In [0]:
df.filter(df['Height']==m[0][0]).show()

+------------+---+----+-----------------+----------+----------+--------------------+------+------+
|        Team|  #|Pos.|FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+------------+---+----+-----------------+----------+----------+--------------------+------+------+
|      Panama| 19|  MF| QUINTERO Alberto|18.12.1987|  QUINTERO|Universitario Lim...|   165|    62|
|Saudi Arabia|  8|  MF|   YAHIA ALSHEHRI|26.06.1990|     YAHIA|    CD Leganés (ESP)|   165|    63|
| Switzerland| 23|  MF|  SHAQIRI Xherdan|10.10.1991|   SHAQIRI| Stoke City FC (ENG)|   165|    78|
+------------+---+----+-----------------+----------+----------+--------------------+------+------+

In [0]:
df.orderBy('Height').show()

+------------+---+----+-----------------+----------+-----------+--------------------+------+------+
|        Team|  #|Pos.|FIFA Popular Name|Birth Date| Shirt Name|                Club|Height|Weight|
+------------+---+----+-----------------+----------+-----------+--------------------+------+------+
| Switzerland| 23|  MF|  SHAQIRI Xherdan|10.10.1991|    SHAQIRI| Stoke City FC (ENG)|   165|    78|
|Saudi Arabia|  8|  MF|   YAHIA ALSHEHRI|26.06.1990|      YAHIA|    CD Leganés (ESP)|   165|    63|
|      Panama| 19|  MF| QUINTERO Alberto|18.12.1987|   QUINTERO|Universitario Lim...|   165|    62|
|      Mexico| 20|  MF|    AQUINO Javier|11.02.1990|  J. AQUINO|   Tigres UANL (MEX)|   166|    59|
|     Morocco| 14|  MF|  BOUSSOUFA Mbark|15.08.1984|  BOUSSOUFA|     Al Jazira (UAE)|   167|    59|
|   Argentina| 15|  MF|   LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|    66|
|      Mexico| 18|  MF|  GUARDADO Andres|28.09.1986|A. GUARDADO|    Real Betis (ESP)|   167|    63|
|   Argentina| 18|  DF|   SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|    69|
|      Brazil| 22|  DF|           FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|    67|
|Saudi Arabia| 19|  FW| FAHAD ALMUWALLAD|14.09.1994|      FAHAD|    Levante UD (ESP)|   168|    65|
|    Portugal| 19|  DF|        MARIO RUI|27.05.1991|  MÁRIO RUI|    SSC Napoli (ITA)|   168|    67|
|      France| 13|  MF|      KANTE Ngolo|29.03.1991|      KANTE|    Chelsea FC (ENG)|   168|    70|
|     Uruguay| 14|  MF|   TORREIRA Lucas|11.02.1996|   TORREIRA|  UC Sampdoria (ITA)|   168|    61|
|       Japan| 18|  MF|     OSHIMA Ryota|23.01.1993|    OHSHIMA|Kawasaki Frontale...|   168|    64|
|       Egypt|  8|  MF|      TAREK HAMED|24.10.1988|TAREK HAMED|       Zamalek (EGY)|   169|    67|
|    Colombia| 20|  MF|    QUINTERO Juan|18.01.1993|J. QUINTERO|CA River Plate (ARG)|   169|    64|
|     Belgium| 14|  FW|    MERTENS Dries|06.05.1987|    MERTENS|    SSC Napoli (ITA)|   169|    61|
|       Japan| 14|  MF|     INUI Takashi|02.06.1988|       INUI|      SD Eibar (ESP)|   169|    59|
|   Australia| 19|  DF|    RISDON Joshua|27.07.1992|     RISDON|WS Wanderers FC (...|   169|    70|
|   Argentina| 22|  MF|   PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|    65|
+------------+---+----+-----------------+----------+-----------+--------------------+------+------+
only showing top 20 rows

In [0]:
#6. average height of the players in Argentina team
df.groupBy('Team').mean('Height').filter(df['Team']=='Argentina').show()

+---------+------------------+
|     Team|       avg(Height)|
+---------+------------------+
|Argentina|178.43478260869566|
+---------+------------------+

In [0]:
df1=df.filter(df['Team']=='Argentina')

In [0]:
df1.describe('Height').show()

+-------+------------------+
|summary|            Height|
+-------+------------------+
|  count|                23|
|   mean|178.43478260869566|
| stddev| 8.478990543243397|
|    min|               167|
|    max|               199|
+-------+------------------+

In [0]:
df1.mean('Height')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-1370987056777364> in <module>
----> 1 df1.mean('Height')

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   1798         """
   1799         if name not in self.columns:
-> 1800             raise AttributeError(
   1801                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
   1802         jc = self._jdf.apply(name)

AttributeError: 'DataFrame' object has no attribute 'mean'

## LEVEL-2 SPARK SQL

1. Find the list of  oldest released movies.
2. How many movies are released each year?
3. How many number of movies are there for each rating?
4. How many users have rated each movie?
5. What is the total rating for each movie?
6. What is the average rating for each movie?

In [0]:
#1. Find the list of oldest released movies.
df_m=sc.read.csv('/FileStore/tables/movies.csv',header=True,inferSchema=True)

In [0]:
df_r=sc.read.csv('/FileStore/tables/ratings-1.csv',header=True, inferSchema=True)

In [0]:
df_m.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [0]:
df_r.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
+------+-------+------+----------+
only showing top 5 rows

In [0]:
df_r.select('timestamp').dtypes

Out[190]: [('timestamp', 'int')]

In [0]:
df_m.createOrReplaceTempView('Movies')

In [0]:
sc.sql("select * from Movies").show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [0]:
df_r.createOrReplaceTempView("Ratings")

In [0]:
sc.sql("select * from Ratings").show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
+------+-------+------+----------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

In [0]:
df_m.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [0]:
df_r.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
+------+-------+------+----------+
only showing top 5 rows

In [0]:
df_r1=sc.sql("select userId,movieId,rating,timestamp(timestamp) from Ratings")

In [0]:
df_r1.createOrReplaceTempView('Ratings')

In [0]:

sc.sql("select * from Ratings").show(5)

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|     31|   2.5|2009-12-14 02:52:24|
|     1|   1029|   3.0|2009-12-14 02:52:59|
|     1|   1061|   3.0|2009-12-14 02:53:02|
|     1|   1129|   2.0|2009-12-14 02:53:05|
|     1|   1172|   4.0|2009-12-14 02:53:25|
+------+-------+------+-------------------+
only showing top 5 rows

In [0]:
#1. Find the list of oldest released movies.
2.# How many movies are released each year?
#sc.sql("select regexp_extract(substring(title,-5,4),'(\\d+)') as year from movies").show()
df_new=sc.sql('select *, regexp_extract(title, r"(\d+)", 1) as year from movies')
df_new.createOrReplaceTempView('Movies')

In [0]:
sc.sql("select * from movies").show()

+-------+--------------------+--------------------+----+
|movieId|               title|              genres|year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [0]:
2.# How many movies are released each year?

sc.sql("select count(movieId), year from Movies group by year").show(5)

+--------------+----+
|count(movieId)|year|
+--------------+----+
|             1| 451|
|            10|   7|
|            34|1953|
|             2|  51|
|            38|1957|
+--------------+----+
only showing top 5 rows

In [0]:
#3.  How many number of movies are there for each rating?
sc.sql("select count(movieId),rating from Ratings group by rating").show()

+--------------+------+
|count(movieId)|rating|
+--------------+------+
|         10538|   3.5|
|          7723|   4.5|
|          4449|   2.5|
|          3326|   1.0|
|         28750|   4.0|
|          1101|   0.5|
|         20064|   3.0|
|          7271|   2.0|
|          1687|   1.5|
|         15095|   5.0|
+--------------+------+

In [0]:
#4. How many users have rated each movie?
sc.sql("select count( distinct userId), movieId from Ratings group by movieId order by MovieId").show()

+----------------------+-------+
|count(DISTINCT userId)|movieId|
+----------------------+-------+
|                   247|      1|
|                   107|      2|
|                    59|      3|
|                    13|      4|
|                    56|      5|
|                   104|      6|
|                    53|      7|
|                     5|      8|
|                    20|      9|
|                   122|     10|
|                    82|     11|
|                    18|     12|
|                     8|     13|
|                    31|     14|
|                    11|     15|
|                    88|     16|
|                    86|     17|
|                    26|     18|
|                    92|     19|
|                    13|     20|
+----------------------+-------+
only showing top 20 rows

In [0]:
#5. What is the total rating for each movie?

#sc.sql("select * from ratings").show()
#sc.sql("select count(rating), movieId from Ratings group by movieId order by movieId").show()
sc.sql("select sum(rating), movieId from Ratings group by movieId order by movieId").show(5)

+-----------+-------+
|sum(rating)|movieId|
+-----------+-------+
|      956.5|      1|
|      364.0|      2|
|      186.5|      3|
|       31.0|      4|
|      183.0|      5|
+-----------+-------+
only showing top 5 rows

In [0]:
#6. What is the average rating for each movie?
sc.sql("select avg(rating), movieId from Ratings group by movieId order by movieId").show()

+------------------+-------+
|       avg(rating)|movieId|
+------------------+-------+
|3.8724696356275303|      1|
|3.4018691588785046|      2|
|3.1610169491525424|      3|
|2.3846153846153846|      4|
| 3.267857142857143|      5|
|3.8846153846153846|      6|
|3.2830188679245285|      7|
|               3.8|      8|
|              3.15|      9|
|3.4508196721311477|     10|
|3.6890243902439024|     11|
| 2.861111111111111|     12|
|            3.9375|     13|
|3.4516129032258065|     14|
|2.3181818181818183|     15|
|3.9488636363636362|     16|
|3.9244186046511627|     17|
|3.2884615384615383|     18|
| 2.597826086956522|     19|
|2.5384615384615383|     20|
+------------------+-------+
only showing top 20 rows